body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0000FF, #FF0000);
    color: white;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

img {
    max-width: 10%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

img {
    max-width: 100px;
    max-height: 100px;
}
